@charset "UTF-8";
body{color: #222; font-family: 'Noto Sans', sans-serif;}
a{text-decoration: none;}
.container{max-width: 1190px; margin: 0 auto; position: relative;}
.color_blue{color: #3a476a;}
.btn{background-color: #00a5b1; color: #fff; border-radius: 15px;}

/* HEADER */
.header{}
.header h1{}
.header h1 a{}
.header nav{}
.header nav>ul{}
.header nav>ul>li{}
.header nav>ul>li>a{}
.header nav>ul>li .sub_menu{}
.header nav>ul>li .sub_menu ul{}
.header nav>ul>li .sub_menu ul li{}
.header nav>ul>li .sub_menu ul li a{}
.header .header-btn{}
.header .lang{}
.header .lang a{}
.header .lang .en{}